{% extends "base.html" %}

{% block content %}
    {% for mensaje in get_flashed_messages()  %}
        <div class="alert alert-success alert-dimissable">
            <button type="button"
                    data-dismiss="alert"
                    class="close">
                    &times;
                {{ mensaje }}
            </button>
        </div>
    {% endfor %}
    <h1>Lista de Clientes</h1>
    <table class="table table-bordered">
        <thead>
            <th>Nombre</th>
            <th>Email</th>
        </thead>
        <tbody>
            {% for clientes in clientes %}
            <tr>
                <td>{{clientes.nombre}}</td>
                <td>{{clientes.email}}</td>
                <td>
                    <a href="/clientes/editar/{{clientes.idC}}">
                        Actualizar
                    </a>
                </td>
                <td>
                    <a href="/clientes/eliminar/{{clientes.idC}}">
                        Funar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}